.vscode/*
**.exe
src/go.sum
.idea/*
__pycache__
go.sum
docker-data/postgres/**
docker-data/grafana/internal/**
.env
docker-data/prometheus/internal/
fresh/fresh-minitwit.exe~
fresh/fresh-minitwit-errors.log

docker-data/loki/internal/
*.drawio.bkp
