<!doctype html>

<head><title>{% block title %}Welcome{% endblock %} | MiniTwit</title></head>
<link rel=stylesheet type=text/css href="/static/style.css">

<div class=page></div>
    <h1>MiniTwit</h1>
    <div class=navigation></div>
    {% if g.user %}
        <a href="/">my timeline</a> |
        <a href="/public">public timeline</a> |
        <a href="/logout">sign out [{{ g.user.username }}]</a>
    {% else %}
        <a href="/public">public timeline</a> |
        <a href="/register">sign up</a> |
        <a href="/login">sign in</a>
    {% endif %}
    </div>
    
    <p>Hello from newLayout.html</p>

    <div class=body>
        {% block body %}{% endblock %}
    </div>
    <div class=footer>
        MiniTwit &mdash; A Go` Application
    </div>
</div>
